*{
    box-sizing: border-box;
}

body {
    background-color: #DCEF58;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}
 
@media screen and (min-width: 1920px) {
    html{
        font-size:20px;
    }
 }
 
 @media screen and (max-width: 768px) {
    html{
        font-size:12px;
    }
 }

 @media screen and (max-width: 480px) {
    html{
        font-size:8px;
    }
    .interest{
        font-size:14px;
    }
 }

::selection {
    background: #4F46E5;
    color: #DCEF58;
}

.page-title {
    writing-mode: vertical-rl;
    text-orientation: mixed;
}
.page-title::before {
    content:" ";
    background-image: url('./images/desict.jpeg');
    width:2rem; height:2rem;
    background-size:2rem 2rem;
    display:inline-block;
    border-radius:100%;
    margin-bottom:0.5rem;
}

.introduction p {
    font-family: 'Inknut Antiqua', serif;
    z-index: 10;
    font-weight:700;
    font-size:3.75rem;
    position:relative;
    top:-10%;
}

.introduction .point {
    color: #0D51FF;
    position:relative;
    text-decoration: underline;
}


.introduction p span{
    position:relative;
}

.cover .bigcircle {
    width: 160rem;
    height: 160rem;
    background-color: #EBFD65;
    left: -50rem;
    top: -12rem;
    z-index: -10;
}

.hello{
    width:6rem;
    height: 6.25rem;
    position:absolute;
    top: -1.5rem; left:2.2rem;
    animation-name: wave-animation;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;  
    transform-origin: 70% 70%;
}

@keyframes wave-animation {
    0% { transform: rotate( 0.0deg) }
    10% { transform: rotate(24.0deg) }
    20% { transform: rotate(-8.0deg) }
    30% { transform: rotate(23.0deg) }
    40% { transform: rotate(-4.0deg) }
    50% { transform: rotate(10.0deg) }
    60% { transform: rotate( 0.0deg) } 
   100% { transform: rotate( 0.0deg) }
  }

.designer{
    background:url('./images/designer.png');
    background-size:1.925rem 1.8rem;
    background-repeat: no-repeat;
    background-position:7.2rem 2rem;
}

.impact{
    width: 6.25rem;
    height:6rem;
    position:absolute;
    top: 6.55rem; left:13.5rem;
    animation-name: drawing;
    animation-duration: 2s;
    animation-iteration-count: infinite;  
    transform-origin: 70% 70%;
}

@keyframes drawing {
    0% { transform: translate(0rem)  }
    50%  { transform: translate(-3rem) rotate(-3deg) }
    0% { transform: translate(0rem)}
  }
  


.smallcircle {
    position: absolute;
    background-color: #E3F65E;
    border-radius: 100%;
    bottom: 10%;
    left:-2rem;
    width: 22rem;
    height: 22rem;
}

.interest{
    position:relative;
    top:-13rem;
    max-width:50rem;
    line-height:2.5;
    font-family: 'Montserrat', sans-serif;
}

.interest p:last-child{
    font-size: 0.8rem;
    margin-top: 1rem;
    line-height:1.5;
    color:gray;
}

.interest a{
    text-decoration: underline;
    cursor:pointer;
    color: #4F46E5;
}

.interest h2{
    font-weight:700;
    margin-bottom:0.5em;
    font-family: 'Montserrat', sans-serif;
}

.interest p span{
    padding:0.5em;
    border-radius: 0.375em;
    background-color:rgba(255,255,255,0.3);
    border:12 solid rgba(0,0,0,0.08);
    display:inline-block;
    line-height:1;
}

.interest p span:hover{
    background-color:rgba(255,255,255,0.6);
}
